.clients-container{
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)),
    url(../../assets/images/client-banner.png) center / cover no-repeat;
    margin-top: 84px;
}

.clients-content{
    @include container;
    padding: 42px 0;

    &__h2{
        @include h2Pattern;
    }

    &__h1{
        @include h1Pattern;
    }

    &__separator{
        @include h-separator;
    }
}

.clients-block{
    margin-top: 42px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    row-gap: 42px;

    &__item{
        display: grid;
        grid-template-columns: auto minmax(0, auto);
        column-gap: 50px;
    }
}

.client-block-item__img{
    padding-top: 22px;
}

.client-item-content{
    color: rgba(45, 48, 51, 1);

    &__name{
        height: 52px;
        display: flex;
        align-items: center;

        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0;
    }

    &__occup,
    &__text{
        font-weight: 400;
        font-size: 18px;
        margin: 0;
    }

    &__occup{
        text-transform: uppercase;
    }

    &__separator{
        @include h-separator;
        width: 70px;
        margin: 32px 0;
    }

    &__text{
        height: 150px;
        display: flex;
        align-items: center;
    }
}

@media (max-width: 1200px){
    .clients-container{
        margin-top: 57px;
    }

    .clients-content{
        @include container_max1200;
        padding: 28px 0;
    
        &__h2,
        &__h1{
            height: 54px;
            font-size: 24px;
        }
    
        &__separator{
            @include h-separator;
            margin-top: 16px;
            width: 148px;
        }
    }

    .clients-block{
        margin-top: 28px;
        column-gap: 52px;
        row-gap: 28px;

        &__item{
            & > img{
                padding-top: 13px;
                width: 88px;
            }
        }
    }

    .client-item-content{
        &__name{
            height: 36px;
            font-size: 18px;
        }

        &__occup,
        &__text{
        font-size: 14px;
        }

        &__text{
            height: auto;
        }

        &__separator{
            width: 47px;
            margin: 21px 0;
        }
    }
}

@media (max-width: 1000px){
    .clients-content{
        @include container_max1000;
        padding: 28px 0;
    }
}