.clients-container{
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)),
    url(../../assets/images/client-banner.png) center / cover no-repeat;
    margin-top: 84px;
}

.clients-content{
    @include container;
    padding: 42px 0;

    &__h2{
        @include h2Pattern;
    }

    &__h1{
        @include h1Pattern;
    }

    &__separator{
        @include h-separator;
    }
}

.clients-block{
    margin-top: 42px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    row-gap: 42px;

    &__item{
        display: grid;
        grid-template-columns: 130px minmax(0, auto);
        column-gap: 50px;
    }
}

.client-block-item__img{
    padding-top: 22px;
}

.client-item-content{
    color: rgba(45, 48, 51, 1);

    &__name{
        height: 52px;
        display: flex;
        align-items: center;

        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0;
    }

    &__occup,
    &__text{
        font-weight: 400;
        font-size: 18px;
        margin: 0;
    }

    &__occup{
        text-transform: uppercase;
    }

    &__separator{
        @include h-separator;
        width: 70px;
        margin: 32px 0;
    }

    &__text{
        height: 150px;
        display: flex;
        align-items: center;
    }
}