.for-devices-container{
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
    url('../../assets/images/for-devices-banner.png') 100% / cover no-repeat;

    font-family: 'Raleway', sans-serif;
}

.for-devices-content{
    @include container;
    padding-top: 42px;
    padding-bottom: 57px;
    position: relative;

    &__h2{
        @include h2Pattern;
    }

    &__h1{
        @include h1Pattern;
    }

    &__separator{
        @include h-separator;
    } 

    &__mocups{
        margin-top: 59px;
        height: 525px;
        position: relative;
    }

    &__ph-mocup{
        position: absolute;
        bottom: -6%;
        right: 17%;
        z-index: 3;
    }
}

.mocups-content{
    width: 100%;
    margin-top: 59px;

    &__mocup{
        position: absolute;
        z-index: 2;
        width: 60%;
        left: 50%;
        transform: translate(-50%);
    }

    &__site-sheet{
        display: block;
        margin: 0 auto;
        width: 57%;
        padding-top: 10px;
    }
}

@media(max-width: 1200px){
    .for-devices-content{
        @include container_max1200;
        padding-top: 28px;
        padding-bottom: 0;

        &__h2,
        &__h1{
            font-size: 24px;
            height: 54px;
        }
    
        &__separator{
            width: 148px;
            margin-top: 16px;
        }

        &__ph-mocup{
            height: auto;
            width: 19%;
            right: 12%;
        }
    }

    .mocups-content{
        margin-top: 40px;
        padding-bottom: 40px;
        height: auto;

        &__mocup{
            width: 70%;
            left: 50%;
            transform: translate(-50%);
        }

        &__site-sheet{
            width: 66%;
        }
    }
}

@media(max-width: 1000px){
    .for-devices-content{
        @include container_max1000;
    }
}

@media(max-width: 710px){
    .for-devices-content{
        @include container_max710;

        &__ph-mocup{
            width: 18%;
            right: 24%;
        }
    }

    .mocups-content{
        margin-top: 40px;
        padding-bottom: 25px;
        height: auto;

        &__mocup{
            width: 70%;
        }

        &__site-sheet{
            width: 64%;
        }
    }
}

@media(max-width: 460px){
    .for-devices-content{
        @include container_max460;

        &__ph-mocup{
            width: 30%;
            right: 10%;
        }
    }

    .mocups-content{
        margin-top: 40px;
        padding-bottom: 40px;
        height: auto;

        &__mocup{
            width: 98%;
        }

        &__site-sheet{
            width: 89%;
        }
    }
}