.futures-container{
    background-color: rgba(149, 225, 211, 1);
    font-family: 'Raleway', sans-serif;
    color: white
}

.futures-content{
    @include container;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    &__item{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
}

.futures-block{
    border-left: 1px solid white;
    
    &:last-child{
        border-right: 1px solid white;
    }

    &__num-part{
        font-size: 64px;
        font-weight: 700;
        margin: 64px 0 20px;
    }

    &__text{
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 61px;
    }
}

@media(max-width: 1200px){
    .futures-content{
        @include container_max1200;
    }

    .futures-block{
        &__num-part{
            font-size: 48px;
            margin: 30px 0 0;
        }

        &__text{
            margin-bottom: 30px;
            font-size: 18px;
        }
    }
}

@media(max-width: 1000px){
    .futures-content{
        @include container_max1000;
    }
}