.container-header{
    width: 100%;
    height: 100px;

    position: absolute;
    top: 0;
    transition: all .5s ease-in-out;
    z-index: 10;
}

.header-content{
    @include container;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &__nav{
        display: flex;
        align-items: center;
    }
}

.header-item-text{
    width: 114px;
    height: 100%;
    text-decoration: none;
    text-transform: uppercase;

    color: white;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 14px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .7s ease;

    &::after{
        content: "";
        height: 2px;
        width: 100%;
        background-color: transparent;
    }

    &:hover{
        color: $hoverColor;

        &::after{
            background-color: $hoverColor;
        }
    }
}

.header-item-img{
    padding: 0 17px;
}

@media(max-width:1200px){
    .container-header{
        height: 68px;
    }
    .header-content{
        @include container_max1200;

        & > img{
            height: 68px;
        }
    }

    .header-item-text{
        font-size: 13px;
    }
}

@media(max-width:1000px){
    .container-header{
        height: 68px;
    }
    .header-content{
        @include container_max1000;
    }

    .header-item-text{
        width: 80px;
    }
}