.service-acc-content{
    @include container;
    font-family: 'Raleway', sans-serif;
    padding: 42px 0 114px;

    &__h2{
        @include h2Pattern;
    }

    &__h1{
        @include h1Pattern;
    }

    &__separator{
        @include h-separator;
    }

    &__text{
        @include h-text;
    }

    &__inf-block{
        margin-top: 42px;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
    }
}

.service-acc-inf-block__img{
    width: 100%;
}

.accordion-flush .accordion__item{
    border: 1px solid rgba(198, 203, 205, 1);

    &:focus{
        border-color: transparent;
    }

    &:first-child{
        border-top: 1px solid rgba(198, 203, 205, 1);
    }
    &:last-child{
        border-bottom: 1px solid rgba(198, 203, 205, 1);
    }
}

.acc-button{
    padding: 0 14px 0 0;
    &:not(.collapsed){
        background-color: transparent;
        box-shadow: none;
    }

    &:focus{
        border-color: transparent;
        box-shadow: none;
        border-bottom: 1px solid rgba(198, 203, 205, 1);
    }

    &__icon{
        margin: 0 40px 0 18px;
        align-self: center;
    }

    &__title{
        font-weight: 700;
        font-size: 24px;
        text-transform: uppercase;
        color: rgba(45, 48, 51, 1);

        height: 92px;
        width: 100%;
        margin: 0;

        display: flex;
        align-items: center;
    }

    &::after,
    &:not(.collapsed):after{
        background: url(../../assets/images/arrow_down.svg) center / cover no-repeat;
        width: 42px;
    }
}

.acc-group:not(:last-child){
    margin-bottom: 18px;
}


.acc-text-block{
    color: rgba(45, 48, 51, 1);
    border: 1px solid rgba(198, 203, 205, 1);
    border-top: none;

    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    box-sizing: border-box;
    padding: 0 85px 0 22px;
    max-height: 163px;
    overflow: scroll;
    transition: all .3s ease;
    overflow-x:hidden;


    &__text{
        margin: 0;
        padding: 22px 0;
    }

    &::-webkit-scrollbar{
        width: 10px;
    }

    &::-webkit-scrollbar-track-piece{
        background: rgba(245, 245, 245, 1);
    }

    &::-webkit-scrollbar-thumb{
        background: rgba(149, 225, 211, 1);
    }

    .swiper-pagination-reviews{
        display: none;
    }
}

@media(max-width: 1200px){
    .service-acc-content{
        @include container_max1200;
        padding: 58px 0 88px;

        &__h2,
        &__h1{
            font-size: 24px;
            height: 67px;
        }
    
        &__separator{
            width: 148px;
            margin-top: 20px;
        }
    
        &__text{
            font-size: 14px;
        }
        
        &__inf-block{
            margin-top: 36px;
        }
    }

    .acc-button{
        &__title{
            font-size: 18px;
            height: 78px;
        }

        &::after,
        &:not(.collapsed):after{
            background: url(../../assets/images/arrow_down.svg) center / cover no-repeat;
            width: 35px;
        }
    }

    .acc-text-block{
        font-size: 14px;
        max-height: 130px;
    }
}

@media(max-width: 1000px){
    .service-acc-content{
        @include container_max1000;
        padding: 38px 0 58px;

        &__inf-block{
            margin-top: 30px;
            column-gap: 20px;
        }
    }

    .acc-button{
        &__icon{
            width: 30px;
            margin: 0 40px 0 18px;
            align-self: center;
        }

        &__title{
            font-size: 14px;
            height: 40px;
        }

        &::after,
        &:not(.collapsed):after{
            width: 25px;
        }
    }

    .acc-group:not(:last-child){
        margin-bottom: 15px;
    }

    .acc-text-block__text{
        padding: 10px 0;
    }
}

@media(max-width: 710px){
    .service-acc-content{
        @include container_max710;
        padding: 52px 0 31px;

        &__inf-block{
            grid-template-columns: 100%;
            grid-template-rows: 200px auto;
            row-gap: 29px;

            & > img{
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .acc-button__title{
        height: 78px;
    }

    .acc-group:not(:last-child) {
        margin-bottom: 19px;
    }

    .swiper-pagination-reviews{
        display: block;
        position: absolute;
    }
}

@media(max-width: 460px){
    .service-acc-content{
        @include container_max460;
        &__text{
            margin-top: 15px;
        }
    }
}