@import "./node_modules/bootstrap/scss/bootstrap";
@import '/node_modules/swiper/swiper.scss';
@import '/node_modules/swiper/modules/navigation.scss';

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
}

p{
    margin-bottom: 0;
}

$mogoGradient: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
$hoverColor: rgba(244, 191, 135, 1);
$footerColor: rgba(198, 203, 205, 1);

@mixin container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

@mixin container_max1200{
    width: 100%;
    max-width: 990px;
    margin: 0 auto;
}

@mixin container_max1000{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

@mixin h2Pattern{
    width: 100%;
    height: 80px;
    margin: 0;
        
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Kaushan Script', sans-serif;
    font-size: 30px;
}

@mixin h1Pattern{
    width: 100%;
    height: 80px;
    margin: 0;
        
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 900;
    font-size: 36px;
    text-transform: uppercase;
}

@mixin h-separator{
    width: 170px;
    height: 4px;
    background-color: rgba(243, 130, 129, 1);
    border: none;
    margin: 24px auto 0;
    opacity: 1;
}

@mixin h-text{
    width: 100%;
    min-height: 118px;
    text-align: center;
    font-size: 18px;
    margin: 0;

    display: flex;
    align-items: center;
}

@import './header.scss';
@import './main-page.scss';
@import './about.scss';
@import './futures.scss';
@import './amazing-services.scss';
@import './for-devices.scss';
@import './service.scss';
@import './swiper-reviews.scss';
@import './team.scss';
@import './partners.scss';
@import './work.scss';
@import './clients.scss';
@import './blog.scss';
@import './footer.scss';

